<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/home">acceuil</a>
          <a class="nav-link" routerLink="/produits">produits</a>
          <a class="nav-link" [routerLink]="['/path', 2]">list</a>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <app-list-catigories></app-list-catigories>
    </div>
  
    <!-- Section pour afficher les produits filtrés -->
    